body {
    background: rgb(16, 12, 95); background: 
        linear-gradient(90deg, rgb(0, 24, 36) 0%, 
    rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
}